<div class="agent-dashboard-page-wrapper">

<section class="user-details">  
    <div>
        <img class="user-image" src="<%= current_user['user_image']%>" alt="">
        <h1>Welcome <%= current_user['name']%></h1>
        <h2><i class="fa fa-phone"></i>  <%= current_user['user_contact_info']%></h2>
    </div>

    <div>
     
        <form action="/login_sessions" method="POST">
            <input type="hidden" name="_method" value="delete">
            <button class="link-button"><span>Logout</span></button>
        </form>
    </div>

</section>
    <a class="link-button" href="/"><i class="fa fa-home"></i> HOME</a>
    <a class="link-button" href="/properties/create">ADD NEW PROPERTY</a>
    


<% my_property_listings.each do |property| %>
    <div>
    <img src="<%= property['image_url']%>" alt="" >
    </div>

    <div>
    <h2><%= property['ad_line']%></h2>
    <h3><%= property['house_number']%>  <%= property['street_name']%>,<%= property['city']%>,<%= property['state']%>, <%= property['postcode']%></h3>
    <h3><%= property['number_of_bedrooms']%> Berdrooms, <%= property['number_of_bathrooms']%> Bath, <%= property['number_of_parkings']%> parking</h3>
    <p>It's a beautiful<%= property['property_type']%></p>
    <h4>Rent: <%= property['price']%></h4>

    <a href="/properties/<%= property['id']%>/update">EDIT</a>

    <form class="delete-property" action="/properties/<%= property['id']%>" method = "POST">
        <input type="hidden" name = "_method" value = "delete">

        <button>Remove</button>
    </form>
  

<% end %>

</div>

