<div class="agent-dashboard-page-wrapper">

<section class="user-details">  
    <div>
        <img class="user-image" src="<%= current_user['user_image']%>" alt="">
        <h1>Welcome <%= current_user['name']%></h1>
        <h2><i class="fa fa-phone"></i>  <%= current_user['user_contact_info']%></h2>
    </div>

    <div>
        <form action="/login_sessions" method="POST">
            <input type="hidden" name="_method" value="delete">
            <button class="link-button"><span>Logout</span></button>
        </form>
    </div>
</section>

<div>
    <a class="link-button" href="/"><i class="fa fa-home"></i> HOME</a>
    <a class="link-button" href="/properties/create">ADD NEW PROPERTY</a>
</div>   

<article class="property-detail-wrapper">
    <% my_property_listings.each do |property| %>
    <section class="property-detail-card">
    <div class="update-delete-link-container">
        <a href="/properties/<%= property['id']%>/update"><i class="fa fa-edit"></i>EDIT</a>

            <form class="delete-property" action="/properties/<%= property['id']%>" method = "POST">
                <input type="hidden" name = "_method" value = "delete">
                <button>Remove</button>
            </form>
        </div>

        <img src="<%= property['image_url']%>" alt="a image of the listed property" >

        <h2><%= property['ad_line']%></h2>

        <h3><%= property['house_number']%>, <%= property['street_name']%>, <%= property['suburb']%>, <%= property['state']%>  <%= property['postcode']%></h3>

        <h3><%= property['number_of_bedrooms']%> <i class="fa fa-hotel"></i>  <%= property['number_of_bathrooms']%> <i class="fa fa-bath"></i> <%= property['number_of_parkings']%> <i class="fa fa-car"></i></h3>
      
        <h3><%= property['property_type']%></h3>
        <h4>Rent: <%= property['price']%></h4>
    </section>

    <% end %>

</article>

</div>

