
<h2>Update details of the property in your list </h2>
<section>
    <form  action="/properties/<%= property['id']%>" method = "POST">

    <div class="property-form-content">
         <input type="hidden" name="_method" value="put">

        <input type="text" name="image_url" placeholder="Add an image of the property" value="<%= property['image_url']%>">
        <input type="text" name="ad_line" placeholder="Advertise Title" value="<%= property['ad_line']%>">
        <input type="text" name="house_number" placeholder="House number" value="<%= property['house_number']%>">
        <input type="text" name="street_name" placeholder="Street name" value="<%= property['street_name']%>">
        <input type="text" name="postcode" placeholder="Postcode" value="<%= property['postcode']%>">
        <input type="text" name="suburb" placeholder="suburb" value="<%= property['suburb']%>">
        <input type="text" name="state" placeholder="State" value="<%= property['state']%>">
        <input type="text" name="property_type" placeholder="Property type" value="<%= property['property_type']%>">
        <input type="text" name="number_of_bedrooms" placeholder="Number of bedrooms" value="<%= property['number_of_bedrooms']%>">
        <input type="text" name="number_of_bathrooms" placeholder="Number of baths" value="<%= property['number_of_bathrooms']%>">
        <input type="text" name="number_of_parkings" placeholder="Number of parking available" value="<%= property['number_of_parkings']%>">
        <input type="text" name="price" placeholder="Price per week or month in AUD" value="<%= property['price']%>">
    </div>

        <button class="button">Update Property</button>
    </form>
</section>